<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
</head>
<body>
  <h1>Sign up</h1>
  <form action="/user" method="POST">
    <label for="">Name</label>
    <input type="text" required 
    name= "name" placeholder="Enter your name">

    <label for="">Email</label>
    <input type="text" required name="email" placeholder="Enter your name">

    <label for="">Password</label>
    <input type="password" required name="password" placeholder="Enter your name">
    
    <button type="submit">Signup</button>
    <br>
    <p>already have an account</p>
    <button><a href="/login">
      login
    </a></button>
  </form>
</body>
</html>